{% extends "base.html" %} {% block title %} Password generator {% endblock %} {% block
body %} {{super()}}
<h2 class="lead text-center">Simple password generator</h2>
{% with messages=get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" id="flash-box" role="alert">
  <button type="button" id="flash" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>{{message}}</strong>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<form class="m-4 shadow-lg p-4 w-75 mx-lg-auto" action="/index" enctype="multipart/form-data" method="post">
    {{form.csrf_token }} <br />

    <input class="btn btn-dark d-block w-100 mt-2" type="submit" value="Generate short password" />
    <input type="text" contenteditable="true" name="short" id="short" class="form-control">
    <input class="btn btn-dark d-block w-100 mt-2" type="submit" value="Generate long password" />
    <input type="text" contenteditable="true" name="long" id="long" class="form-control">
</form>

{% endblock %}